<!DOCTYPE html>
<html lang="en">
<head>
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/assets/styles/reset-default.less">
     <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {{> header}}

    {{#main}}
    {{/main}}

    {{#each scripts}}
        <script src="{{this}}" type="module"></script>
    {{/each}}
</body>
</html>