<form class="message-enter-field">
    <input id="message"
           name="message"
           class="message-enter-field__input"
           type="text"
           placeholder="Введите сообщение"
    />
    <button type="submit" class="message-enter-field__button">
        <img src="../../assets/img/send-message.png" alt="send-message">
    </button>
</form>