---
avatar:
  image: ''
  name: Андрей
info:
  - value: Andrey
    name: Имя
  - value: Danilov
    name: Фамилия
  - value: '89027409821'
    name: Телефон
  - value: adan0220@ya.ru
    name: Почта
  - value: Andy Anderson
    name: Логин
styles:
  - ./view-user-settings.less
---

{{#extend "base"}}
    {{#content "main"}}
        <div class="user-settings">
            <div class="avatar">
                <img class="avatar__image"
                     src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
                     alt="avatar">
                <span class="avatar__user-name">Андрей</span>
            </div>
            {{#each info}}
                <div class="info">
                <span class="info__name">
                    {{this.name}}
                </span>
                    <span class="info__value">
                        {{this.value}}
                    </span>
                </div>
            {{/each}}
            <div class="actions">
                <a href="../edit-user-settings/index.hbs" class="actions__change-info">Изменить данные</a>
                <a href="../change-password/index.hbs" class="actions__change-info">Изменить пароль</a>
                <a href="../chat/index.hbs" class="actions__change-info">Выйти</a>
            </div>
        </div>
    {{/content}}
{{/extend}}
